<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form  id="login_form">
        <label for="email">Email :</label>
        <input type="email" name="eml" id="email">
        <label for="password">password :</label>
        <input type="password" name="pswd" id="password">
        <button type="submit">Login</button>
    </form>
</body>
</html>